* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2) ;
  overflow: hidden;
  position: relative;
}


body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/cubes.png');
  opacity: 0.08;
}


.circle {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(100px);
}

.c1 {
  background: #ff6fd8;
  top: 5%;
  left: 5%;
  opacity: 0.6;
}

.c2 {
  background: #00d2ff;
  bottom: 5%;
  right: 5%;
  opacity: 0.6;
}


.bg-icon {
  position: absolute;
  width: 100px;
  opacity: 0.15;
}

.icon1 { top: 15%; left: 10%; }
.icon2 { bottom: 15%; right: 15%; }
.icon3 { top: 60%; left: 5%; }


.container {
  width: 900px;
  height: 520px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 30px 80px rgba(0,0,0,0.5);
  z-index: 1;
}


.left {
  width: 50%;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.right {
  width: 50%;
  background: white;
  padding: 40px;
}


.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 12px;
  border: none;
  background: #eee;
  font-weight: 600;
  cursor: pointer;
}

.tabs .active {
  background: #5f27cd;
  color: white;
}


.form {
  display: none;
}

.form.active {
  display: block;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}


.submit {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #5f27cd, #c44569);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.icon4{
    top:30%;
    right:10%;
}
.icon5{
    bottom:25%;
    left:20%;
}
.icon6{
    top:75%;
    right:5%;
}

.bg-icon {
  position: absolute;
  width: 100px;
  opacity: 0.15;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}